@import '../assets/styles/_variables';

.container {
  width: 300px;
  height: 170px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  .wrapper {
    position: relative;
    width: 300px;
    height: 170px;
    padding: 20px;
    overflow: hidden;
    .rectangleContainer {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      .dot {
        cursor: grab;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: $light_blue;
        border: none;
        display: block;
        margin: 20px auto;
        outline: none;
      }
    }
    .grabber {
      position: absolute;
      cursor: all-scroll;
      right: 4px;
      bottom: 3px;
      width: 15px;
      height: 15px;
      background: url("../assets/images/resize_icon.png");
    }

  }
}

